#
# add your datasources to the 'sources' variable
#
#   *  cls parameter is the PyFilesystem type (see http://packages.python.org/fs/filesystems.html)
#   *  set custom PyFilesystem parameters in the 'params' dictionnary.
#

from fs.osfs import OSFS
from fs.s3fs import S3FS
from fs.ftpfs import FTPFS


 
    
AWS_ACCESS_KEY_ID  = 'aazfzefzefzef'
AWS_SECRET_ACCESS_KEY ='+DZaxzfzafefezfeQkDRzR'



sources = {
    'localfolder':{
        'cls':OSFS
        ,'params':{
            'root_path':r'C:\Q3Ademo'
            #,'encoding':
        }
    }
    ,'NAS':{
        'cls':OSFS
        ,'params':{
            'root_path':r'\\nas\public'
            #,'encoding':
        }
    }
    ,'s3test':{
        'cls':S3FS
        ,'params':{
            'bucket':'bucket21'
            ,'aws_access_key':AWS_ACCESS_KEY_ID
            ,'aws_secret_key':AWS_SECRET_ACCESS_KEY
            #,'prefix':AWS_ACCESS_KEY_ID.lower()
        }
    }
    ,'simple FTP':{
        'cls':FTPFS
        ,'params':{
            'host':'pouet.net'
            ,'user':'username'
            ,'passwd':'password'
            #,'acct':''
            #,'port':21
        }
    
    }
     
   
}

 